[Match]
Name={{ ansible_default_ipv4.alias }}
MACAddress={{ ansible_default_ipv4.macaddress }} 

[Network]
Address={{ ansible_default_ipv4.address }}/{{ ( ansible_default_ipv4.address +'/'+ ansible_default_ipv4.netmask ) | ipaddr('prefix') }}
Gateway={{ ansible_default_ipv4.gateway }}
DNS=213.133.98.98
DNS=213.133.99.99
DNS=213.133.100.100

# Bring up the tunnels
{% for item in gre|list %}
Tunnel={{ gre[item].dev }}
{% endfor %}
