/**
 * This is the BIRD bird.conf Ansible template 
 *

 * Thomas Arend
 * Stand: 2019-04-16
 *
 **/

router id {{ ansible_default_ipv4.address }} ;

protocol direct announce {
        table master;
        import where net ~ [{{ ffrl.IPv4 }}/32];
        interface {{ ffrl.uplink }};
};

protocol kernel {
        table master;
        device routes;
        import none;
        export filter {
                krt_prefsrc = {{ ffrl.IPv4 }};
                accept;
        };
        kernel table 42;
};

protocol device {
        scan time 15;
};

function is_default() {
        return (net ~ [0.0.0.0/0]);
};

template bgp uplink {
        local as 65201;
        import where is_default();
        export where proto = "announce";
};


{% for item in gre %}

protocol bgp {{ gre[item].dev }} from uplink {
        source address {{ gre[item].address }};
        neighbor {{ gre[item].daddress }} as {{ gre[item].asn }};
}

{% endfor %} 
