[Unit]
Description="Add br-nodes to batman"
Wants=network.target
After=network.target auditd.service
Before=isc-dhcp-server.service

[Service]
Type=oneshot
ExecStart=/sbin/ebtables -A FORWARD --logical-in br-nodes -j DROP
ExecStart=/usr/local/sbin/batctl if add br-nodes
ExecStart=/sbin/ip link set up dev br-nodes
ExecStart=/sbin/ip link set address {{ communitymac }}:0{{ supernode.number }} dev bat0
ExecStart=/sbin/ip link set up dev bat0
# ExecStart=/sbin/ip addr add {{ supernode.mesh.IPv4 }}/{{ supernode.mesh.IPv4_CIDR }} broadcast {{ supernode.mesh.IPv4_brcast }} dev bat0
# ExecStart=/sbin/ip -6 addr add {{ supernode.mesh.IPv6 }}/64 dev bat0

ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
