#! /bin/bash
# Copyright (c) 2019 Thomas Arend
#
# Author: Thomas Arend, thomas@freifunk-rheinbach.de
#
#
# Startup script for FF Voreifel supernode bridge

return=0
case "$1" in

    start)
        echo "Starting service bridge br-nodes"
        brctl addbr br-nodes  ||  return=1
        ip link set dev br-nodes up address 2E:9D:FA:A1:6B:0{{ supernode.number }} || return=2
        ebtables -A FORWARD --logical-in br-nodes -j DROP  || return=3
        batctl if add br-nodes  || return=4

        echo -e "$return"
        ;;

    stop)
        echo "Shutting down service bridge br-nodes"
        batctl if del br-nodes  ||  return=1
        brctl delbr br-nodes  ||  return=2
        echo -e "$return"
        ;;

    status)
        ip link show dev br-nodes
        brctl showbr br-nodes
	;;

    restart)
        $0 stop && $0 start || return=1
        ;;

    *)
        echo "Usage: $0 {start|stop|status|restart}"
        exit 1
esac

test "$return" = "0" || exit 1
exit 0 
