# Freifunk Voreifel 
# Ansible dummy uplink configuration

# < This file is maintained by ansible. Don't edit > 
# < Configure own network devices in the directory interface.d/>

# Thomas Arend
# Stand: 2019-04-16

# auto {{ ffrl.uplink }}

# iface {{ ffrl.uplink }} inet static
#    address {{ ffrl.IPv4 }}
#    netmask 255.255.255.255
#    pre-up ip link add $IFACE type dummy
#    post-up ip rule add fwmark 0x4 table 42
#    post-up ip rule add from {{ ffrl.IPv4 }}/32 lookup 42
#    pre-down ip rule del fwmark 0x4 table 42
#    pre-down ip rule del from {{ ffrl.IPv4 }}/32 lookup 42
#    post-down ip link del $IFACE

# iface {{ ffrl.uplink }} inet6 static
#    address {{ ffrl.IPv6 }}/56
#    post-up ip -6 rule add fwmark 0x4 table 42
#    post-up ip -6 rule add from {{ supernode.mesh.IPv6_net }} lookup 42
