#!/bin/sh
# Version 1.91

sleep 5

# Set table for traffice with mark 4
# Moved to interface.d/
#/bin/ip rule add fwmark 0x4 table 42
#/bin/ip -6 rule add fwmark 0x4 table 42

# Set mark 4 to Freifunk traffic
# Moved to ferm.conf
#/sbin/iptables -t mangle -A PREROUTING -s 10.0.0.0/8 ! -d 10.0.0.0/8 -j MARK --set-mark 4
#/sbin/ip6tables -t mangle -A PREROUTING -s 2a03:2260:301a::/48 ! -d 2a03:2260:301a::/48 -j MARK --set-mark 4

# All from FF IPv4 via routing table 42
# Moved to interface.d/
#/bin/ip rule add from {{ ffrl.IPv4 }}/32 lookup 42
#/bin/ip -6 rule add from {{ supernode.mesh.IPv6_net }} lookup 42

# Allow MAC address spoofing
# Moved to config
# /sbin/sysctl net.ipv4.conf.bat0.rp_filter=0

# Create Tunneldigger Bridge
# Moved to interface.d/br-nodes
# /sbin/brctl addbr br-nodes
# /sbin/ip link set dev br-nodes up address 2E:9D:FA:A1:6B:0{{ supernode.number }}
# 
#/sbin/ebtables -A FORWARD --logical-in br-nodes -j DROP

# /usr/local/sbin/batctl if add br-nodes

/bin/sleep 90
/bin/systemctl restart radvd
/bin/sleep 2
/bin/systemctl restart tunneldigger
/bin/sleep 2
/bin/systemctl restart bird
/bin/sleep 2
/bin/systemctl restart bird6
/bin/sleep 2
/bin/systemctl restart respondd
/bin/sleep 2
/bin/systemctl restart isc-dhcp-server
exit 0
