acl freifunk {
        2a03:2260:301a::/48;
        10.152.64.0/18;
        localhost;
        localnets;
};
options {
        directory "/var/cache/bind";

        // If there is a firewall between you and nameservers you want
        // to talk to, you may need to fix the firewall to allow multiple
        // ports to talk.  See http://www.kb.cert.org/vuls/id/800113

        // If your ISP provided one or more IP addresses for stable
        // nameservers, you probably want to use them as forwarders.
        // Uncomment the following block, and insert the addresses replacing
        // the all-0's placeholder.

        forwarders {
         #   hetzner dns erzeugen leider einen Fehler, wenn all-query freifunk statt any
         #   2a01:4f8:0:1::add:1010;
         #   2a01:4f8:0:1::add:9999;
         #   2a01:4f8:0:1::add:9898;
        };

        //========================================================================
        // If BIND logs error messages about the root key being expired,
        // you will need to update your keys.  See https://www.isc.org/bind-keys
        //========================================================================
        dnssec-validation auto;
        
        recursion yes;
        allow-query { freifunk; } ;
        
        auth-nxdomain no;    # conform to RFC1035

        listen-on { 
            any;
        {% for hooditem in hoods|list %} 
#          {{ hoods[hooditem].mesh.iface }}; 
        {% endfor %} 
        };
        
        listen-on-v6 { 
            any;
        {% for hooditem in hoods|list %} 
#            {{ hoods[hooditem].mesh.iface }}; 
        {% endfor %} 
        };
};
