[respondd]
enable           = true
synchronize      = "1m"
collect_interval = "1m"

[respondd.sites.ff]
domains            = ["{{ yanic_domain }}"]

[[respondd.interfaces]]
ifname = "bat0"
port = 10001

[webserver]
enable  = false
bind    = "{{ ansible_default_ipv4.address }}:8080"
webroot = "/opt/freifunk/yanic"


[nodes]
state_path    = "/opt/freifunk/yanic/state.json"
prune_after   = "7d"
save_interval = "5s"
offline_after = "10m"


[[nodes.output.meshviewer-ffrgb]]
enable   = true
path = "/opt/freifunk/yanic/meshviewer.json"

[nodes.output.meshviewer-ffrgb.filter]
no_owner = true

[[nodes.output.meshviewer]]
enable = true
version    = 2
nodes_path = "/opt/freifunk/yanic/nodes.json"
graph_path = "/opt/freifunk/yanic/graph.json"

[nodes.output.meshviewer.filter]
no_owner = true

[[nodes.output.nodelist]]
enable   = true
path = "/opt/freifunk/yanic/nodelist.json"

[nodes.output.nodelist.filter]
no_owner = true

[database]
delete_after    = "7d"
delete_interval = "1h"

[[database.connection.influxdb]]
enable   = false

[[database.connection.graphite]]
enable   = false

[[database.connection.respondd]]
enable   = false

[[database.connection.logging]]
enable   = false
