{% for item in hoods|list %}

interface {{ hoods[item].mesh.iface }} {
        
        AdvSendAdvert on;
        IgnoreIfMissing on;
        MaxRtrAdvInterval 200;

        RDNSS 
        
        {{ hoods[item].mesh.IPv6.addr }}
        
        {};
        
	prefix {{ hoods[item].mesh.IPv6.net }}/64 {
                AdvOnLink on;
                AdvAutonomous on;
                AdvRouterAddr on;
        };
};

{% endfor %}
