# bat dev config for startup service
IPv4="{{ hoods[item].mesh.IPv4.addr }}/{{ hoods[item].mesh.IPv4.CIDR }}"
IPv4Net="{{ hoods[item].mesh.IPv4.net }}/{{ hoods[item].mesh.IPv4.CIDR }}"
BRCAST="{{ hoods[item].mesh.IPv4.brcast }}"
IPv6="{{ hoods[item].mesh.IPv6.addr }}/64"
MAC="{{ hoods[item].mesh.MAC }}"
