#!/bin/bash

#Start batman on bridge of hood

ACTION="$1"
BATDEV="$2"
IPv4="$3"
IPv4Net="$4"
BRCAST="$5"
IPv6="$6"
MAC="$7"

IP=/sbin/ip
BATCTL=/usr/local/sbin/batctl
EBT=/sbin/ebtables

case $ACTION in

start)

  $IP link set up dev br-$BATDEV

  $BATCTL -m $BATDEV if add br-$BATDEV
  $BATCTL -m $BATDEV gw_mode server

  $IP link set address $MAC dev $BATDEV

  $IP link set up dev $BATDEV

  $IP addr add $IPv4 broadcast $BRCAST dev $BATDEV

  $IP route add $IPv4Net dev $BATDEV table 42
  $IP -6 addr add $IPv6 dev $BATDEV

  $IP -4 rule add dev $BATDEV lookup ffrl
  $IP -6 rule add dev $BATDEV lookup ffrl

  exit $?
  ;;

stop)

  $IP route del $IPv4Net dev $BATDEV table 42
  $BATCTL -m $BATDEV if del br-$BATDEV
  exit $?
  ;;
  
esac
