#!/bin/bash

# Start batman on bridge of hood 

IP=/sbin/ip
BATCTL=/usr/local/sbin/batctl
EBT=/sbin/ebtables

test -x $BATCTL || BATCTL=/usr/sbin/batctl

ACTION="$1"
BATDEV="$2"
HOOD=${BATDEV:3}

# Load bat device  configuration

. $(dirname $0)/${BATDEV}.conf

# IPv4
# IPv4Net
# BRCAST
# MAC

case $ACTION in

start)
  
  $BATCTL routing_algo BATMAN_IV
  $BATCTL meshif ${BATDEV} if add mesh-${BATDEV}
  $BATCTL meshif ${BATDEV} if add mesh-x.${HOOD}
  $BATCTL meshif ${BATDEV} bridge_loop_avoidance 1
  $BATCTL meshif ${BATDEV} gw_mode server 1000mbit/1000mbit
  
  $IP link set up dev mesh-${BATDEV}
  $IP link set address $MAC dev ${BATDEV}
  # $IP link set dev bat15 master vrf-ffrl1
  $IP link set up dev ${BATDEV}
  $EBT -A FORWARD --logical-in mesh-${BATDEV} -j DROP
  $IP -4 addr add $IPv4 broadcast $BRCAST dev ${BATDEV}
  $IP -6 addr add $IPv6 dev ${BATDEV}
  $IP -4 rule add iif ${BATDEV} table 42 pref 3000
  $IP -6 rule add iif ${BATDEV} table 42 pref 3000

  ;;

stop)


  $IP -4 rule del iif ${BATDEV} table 42 pref 3000
  $IP -6 rule del iif ${BATDEV} table 42 pref 3000
  $IP -4 addr del $IPv4 broadcast $BRCAST dev ${BATDEV}
  $IP -6 addr del $IPv6 dev ${BATDEV}
  $IP link set down dev ${BATDEV}
  $IP link set down dev mesh-${BATDEV}
  $EBT -D FORWARD --logical-in mesh-${BATDEV} -j DROP
  $BATCTL meshif ${BATDEV} if del mesh-x.${HOOD}
  $BATCTL meshif ${BATDEV} if del mesh-${BATDEV}
  ;;
  
esac
