[Unit]
Description="B.A.T.M.A.N.: Add bridge mesh-{{ hoods[item].mesh.iface }} to {{ hoods[item].mesh.iface }}"
Wants=network.target
After=network-online.target
Before=isc-dhcp-server.service ntp.service

[Service]

Type=oneshot

ExecStart=/etc/freifunk/batman-up.sh start %I

# ExecStop=/etc/freifunk/batman-up.sh stop {{ hoods[item].mesh.iface }}

[Install]
WantedBy=multi-user.target
