[Unit]
Description="B.A.T.M.A.N.: Start bat<n> and add bridge mesh-* to a
Wants=network.target
After=network-online.target
Before=isc-dhcp-server.service ntp.service

[Service]

Type=oneshot

ExecStart=/etc/freifunk/batman.sh start %I

ExecStop=/etc/freifunk/batman.sh stop %I

[Install]
WantedBy=multi-user.target
