interface {{ supernode.dhcp.iface }} {
        
        AdvSendAdvert on;
        IgnoreIfMissing on;
        MaxRtrAdvInterval 200;
        RDNSS {{ supernode.mesh.IPv6 }} {};
        
	prefix {{ supernode.mesh.IPv6_net }} {
                AdvOnLink on;
                AdvAutonomous on;
                AdvRouterAddr on;
        };
};

