##
# dhcpd.conf Freifunk Voreifel template for Ansible
# 
# Thomas Arend
# Date: 2019-04-16
#
#

ddns-update-style none;
option domain-name "ff";
default-lease-time 300;
max-lease-time 3600;
log-facility local7;

{% for item in hoods %}

include "/etc/dhcp/dhcpd.conf.d/subnet-hood-{{ hoods[item].namespace }}.conf" ;

{% endfor %} 
