[Match]
Name={{ gre[item.0].dev }}

[Network]
Address={{ gre[item.0].inet6 }}/64
#VRF=vrf-ffrl1

[Address]
Address={{ gre[item.0].address }}/31
Peer={{ gre[item.0].peer }}/31

[RoutingPolicyRule]
Table=42
IncomingInterface={{ gre[item.0].dev }}
Priority=2000

[RoutingPolicyRule]
Table=42
FirewallMark=4
Priority=2001
