[Match]
Name={{ gre[item.0].dev }}

[Address]
Address={{ gre[item.0].address }}/31
Peer={{ gre[item.0].peer }}/31

[Network]
Address={{ gre[item.0].inet6 }}/64
IPForward=yes
#VRF=vrf-ffrl1

[Route]
Gateway={{ gre[item.0].peer }}
Destination=0.0.0.0/0
Table=42

[Route]
Gateway={{ gre[item.0].peer6 }}
Destination=::0/0

[Route]
Gateway={{ gre[item.0].peer6 }}
Destination=::0/0
Table=42

## The following settings don't work with the current used networkd
## Option Family is not recognized.

[RoutingPolicyRule]
FirewallMark=0x4
Table=42
Priority=2001
Family=ipv4

[RoutingPolicyRule]
FirewallMark=0x4
Table=42
Priority=2001
Family=ipv6
