/**
 * This is the BIRD bird.con ansible template 
 *
 * Author: Thoams Arend
 * Date: 2019-02-12
 *
 *
 **/
## Configure logging
#log syslog { debug, trace, info, remote, warning, error, auth, fatal, bug };
#log stderr all;
#log "tmp" all;
#log syslog all;

#debug protocols all;

## router id IPv4 address ;
##
## Set BIRD's router ID. It's a world-wide unique identification 
## of your router, usually one of router's IPv4 addresses. Default: the lowest IPv4 address of a non-loopback interface. 
##

router id {{ ansible_default_ipv4.address }} ;

protocol direct {
        interface "*";
};

protocol kernel {
        device routes;
        import all;
        export all;
        kernel table 42;
};

protocol device {
        scan time 8;
};

function is_default() {
        return (net ~ [0.0.0.0/0]);
};

## own network
## Prüfen. 

function is_self_net() {
    return (net ~ [ {{ sn_network_CIDR }}+ ]);
}

# freifunk ip ranges in general
function is_freifunk() {
  return net ~ [ 10.0.0.0/8+,
    104.0.0.0/8+
  ];
}

filter hostroute {
        if net ~ 185.66.193.104/32 then accept;
        reject;
};

# Uplink über ff Rheinland

template bgp uplink {

## local [ip] [port number] [as number] ;
##  Define which AS we are part of. 
## Optional ip argument specifies a source address, 
## equivalent to the source address option (see below). 
## Optional port argument specifies the local BGP port instead of standard port 179. 
## The parameter may be used multiple times with different sub-options 
## (e.g., both local 10.0.0.1 as 65000; and local 10.0.0.1; 
## local as 65000; are valid). This parameter is mandatory. 

        local as {{ sn_asn }};
        import where is_default();
        export filter hostroute;
        next hop self;
        multihop 64;
        default bgp_local_pref 200;
        
};

## router id IPv4 address ;
##
## This option can be used to override global 
## router id for a given protocol. Default: uses global router id. 


##
## ! Attention !
##
## Must be modify to your needs
## (thomas)
## 


protocol bgp ffrl_bb_a_ak_ber from uplink {

## source address ip
##
## Define local address we should use as a source address
## for the BGP session. 
## Default: the address of the local end of the interface our neighbor is connected to. 
##
        source address 100.64.6.13;
        
## neighbor [ip] [port number] [as number]

## Define neighboring router this instance will be talking to and what AS it is located in. 
## In case the neighbor is in the same AS as we are, we automatically switch to iBGP.
## Optionally, the remote port may also be specified. 
## Like local parameter, this parameter may also be used multiple times with different 
## sub-options. 
## This parameter is mandatory.         
##
  
        neighbor 100.64.6.12 as {{ sn_backbone.asn }};
        
## source address ip ;
##
## Define local address we should use as a source address
## for the BGP session. 
## Default: the address of the local end of the interface our neighbor is connected to. 
##

        source address {{ sn_backbone.ipv4.address }} ;
        
        
## interface string ;

## Define interface we should use for link-local BGP IPv6 sessions. 
## Interface can also be specified as a part of neighbor address 
## (e.g., neighbor fe80::1234%eth0 as 65000;). 
## The option may also be used for non link-local sessions 
## when it is necessary to explicitly specify an interface, 
## but only for direct (not multihop) sessions.

## interface "*" ;

};


protocol bgp ffrl_bb_b_ak_ber from uplink {
        source address 100.64.6.19;
        neighbor 100.64.6.18 as 201701;
};

protocol bgp ffrl_bb_a_ix_dus from uplink {
        source address 100.64.6.17;
        neighbor 100.64.6.16 as 201701;
};

protocol bgp ffrl_bb_b_ix_dus from uplink {
        source address 100.64.6.23;
        neighbor 100.64.6.22 as 201701;
};

protocol bgp ffrl_bb_a_fra3_fra from uplink {
        source address 100.64.6.15;
        neighbor 100.64.6.14 as 201701;
};

protocol bgp ffrl_bb_b_fra3_fra from uplink {
        source address 100.64.6.21;
        neighbor 100.64.6.20 as 201701;
};

