# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback
        up ip address add 185.66.193.101/32 dev lo

iface lo inet6 loopback
	up ip address add 2a03:2260:121:1000::1/52 dev lo


# The primary network interface
allow-hotplug {{ ansible_default_ipv4.alias }}
iface {{ ansible_default_ipv4.alias }} inet static
        address {{ ansible_default_ipv4.address }}
        netmask {{ ansible_default_ipv4.address }}
        gateway {{ ansible_default_ipv4.gateway }}
        post-up iptables -P OUTPUT ACCEPT
        post-up iptables -A OUTPUT -o $IFACE -d 10.0.0.0/8 -j DROP
        post-up iptables -A OUTPUT -o $IFACE -d 172.16.0.0/12 -j DROP
        post-up iptables -A OUTPUT -o $IFACE -d 169.254.0.0/16 -j DROP
        post-up iptables -A OUTPUT -o $IFACE -d 192.168.0.0/16 -j DROP
        post-up iptables -t nat -A POSTROUTING -o $IFACE -j MASQUERADE
auto 6to4
        iface 6to4 inet6 6to4
        local {{ ansible_default_ipv4.address }}

# GRE Tunnel zum Rheinland Backbone
# - Die Konfigurationsdaten werden vom Rheinland Backbone vergeben und zugewiesen

auto bb-a-ak-ber
iface bb-a-ak-ber inet tunnel
        mode gre
        netmask 255.255.255.254
        address 100.64.10.43
        dstaddr 100.64.10.42
        local {{ ansible_default_ipv4.address }}
        endpoint 185.66.195.0
        ttl 64
        mtu 1400
        pre-up ip tunnel add $IFACE mode gre local {{ ansible_default_ipv4.address }} remote 185.66.195.0 ttl 255
        post-up iptables -t nat -A POSTROUTING -o $IFACE -j SNAT --to-source 185.66.193.104
        post-up iptables -t mangle -A POSTROUTING -p tcp --tcp-flags SYN,RST SYN -o $IFACE -j TCPMSS --set-mss 1312
        post-up ip link set $IFACE mtu 1400
        post-down iptables -t nat -D POSTROUTING -o $IFACE -j SNAT --to-source 185.66.193.104
        post-down ip tunnel del $IFACE


iface bb-a-ak-ber inet6 static 
        address 2a03:2260:0:51e::2/64
        netmask 64
        post-up ip6tables -t mangle -A POSTROUTING -p tcp --tcp-flags SYN,RST SYN -o $IFACE -j TCPMSS --set-mss 1312

