{
	"directory"	: "./providers",
	"group"	: "ff05::2:1001",
	"port"	: 1001,
	"mcast_ifaces"	: ["{{ hoods[hood_item].mesh.iface }}"],
	"batadv_iface"	: "{{ hoods[hood_item].mesh.iface }}",
	"mesh_ipv4"	: "{{ hoods[hood_item].mesh.IPv4.addr }}",
	"site_code"	: "su-rhb",
	"domain_code"	: "dom{{ hoods[hood_item].number}}",
	"node_id"	: "{{ ansible_default_ipv4.macaddress | replace(':','')}}"
}
