{
	"directory"	: "./providers",
	"link_group"	: "ff05::2:1001",
	"site_group"  : "ff02::2:1001",
	"port"	: 1001,
	"mcast_ifaces"	: [
		{% for hood in hoods %}
    {% if loop.index == 1 %}
        "{{ hoods[hood].mesh.iface }}"
    {% else %}
        , "{{ hoods[hood].mesh.iface }}"
    {% endif %}
    {% endfor %}
    ],
	"batadv_ifaces"	: [
	{% for hood in hoods %}
    {% if loop.index == 1 %}
        "{{ hoods[hood].mesh.iface }}"
    {% else %}
        , "{{ hoods[hood].mesh.iface }}"
    {% endif %}
    {% endfor %}
    ],
	"mesh_ipv4"	: "",
	"site_code"	: "su-rhb",
	"domain_code"	: "dom15",
	"domaincodes" : {
	{% for hood in hoods %}
    {% if loop.index == 1 %}
        "{{ hoods[hood].mesh.iface }}" : "dom{{ hoods[hood].number }}"
    {% else %}
        , "{{ hoods[hood].mesh.iface }}" : "dom{{ hoods[hood].number }}"
    {% endif %}
    {% endfor %}
    }
}
