/**
 * This is the BIRD bird6.conf Ansible template 
 *
 * Thomas Arend
 * Stand: 2019-04-16
 *
 **/

log syslog { info };

debug protocols { states, routes, filters, interfaces, events, packets };

router id {{ ffrl.IPv4.addr }} ;

function is_default() {
        return (net ~ [::/0]);
}

filter hostroute {
	if net ~ [{{ ffrl.IPv6.net }}{56,56}] then accept;
        reject;
}

protocol direct {
        interface "-ens18", "bat*", "gre*" , "lo" ;  # Restrict network interfaces it works with
}

protocol kernel {
    device routes;
    import all;
    export all;    # Default is export none
    kernel table 42;            # 

}

protocol device {
    scan time 10;           # Scan interfaces every 10 seconds
}

template bgp uplink {
        local as {{ supernode.asn }};
        import where is_default();
        export filter hostroute;
        gateway recursive;
}

{% for item in gre %}
{% if gre[item].enabled %}
protocol bgp {{ gre[item].dev }} from uplink {
        description "{{ gre[item].description }}";
        source address {{ gre[item].inet6 }};
        neighbor {{ gre[item].peer6 }} as {{ gre[item].asn }};
}
{% endif %}
{% endfor %}
