/**
 * This is the BIRD bird.conf Ansible template 
 *

 * Thomas Arend
 * Stand: 2019-04-16
 *
 **/

router id {{ ffrl.IPv4.addr }} ;

protocol direct announce {
        table master;
        import where net ~ [{{ ffrl.IPv4.addr }}/32];
        interface "{ ffrl.iface }}";
};

protocol kernel {
        table master;
        device routes;
        import none;
        export filter {
                krt_prefsrc = {{ ffrl.IPv4.addr }};
                accept;
        };
        kernel table 42;
};

protocol device {
        scan time 15;
};

function is_default() {
        return (net ~ [0.0.0.0/0]);
};

filter hostroute {
        if net ~ {{ ffrl.IPv4.addr }}/32 then accept;
        reject;
};

template bgp uplink {
        local as {{ supernode.asn }};
        import where is_default();
        export filter hostroute;
        next hop self;
        multihop 64;
        default bgp_local_pref 200;
};

{% for item in gre %}

protocol bgp {{ gre[item].dev }} from uplink {
        description "{{ gre[item].description }}";
        source address {{ gre[item].address }};
        neighbor {{ gre[item].peer }} as {{ gre[item].asn }};
}

{% endfor %} 
